.layer2{
	width:600px;
	height:400px;
	margin:auto;
	overflow:hidden;
	margin-top:150px;	
	background: linear-gradient(#bdc3c7, #2c3e50);
	border-radius: 10px;
}
.layer1{
	width:400px;
	height:200px;
	background: linear-gradient(#0575e6, #021b79);
	margin: 13px auto 0px;
	border-radius: 10px;
	border:1px solid #2c3e50;
}
.handel-area > img{
	overflow: hidden;
    display: block;
    margin: 65px auto 0px;
}

.nail-area img{
	margin-block-start: -52px;
    margin-left: 288px;
    overflow: hidden;
    display: block;	
}
.from-area {
    margin: 0px 45px;
}
input{
	padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 6px;
}
label{
	color: #fff;
    display: inline-block;
    margin-right: 12px;
}
input[type="submit"] {
    background: #FEBF01;
    padding: 4px 10px;
    border: 1px solid #FEBF01;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}
.password-area {
	display: inline-block;
    margin-top: 10px;
}
.register-area {float: right;
    margin: 20px 10px;
    font-size: 14px;
	color: #fff;
}
.register-area a{
	color:#FEBF01;
	text-decoration: none;
}
.remember {margin: 8px 0px 0px 0px;}
.remember input{margin-top:3px;}